.container{
    margin-bottom: 50px;
}
.wbg{
    background-color: bisque;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.discount{
    color: tomato ;
}
.pre-orderButton{
 background-image: linear-gradient(to bottom,rgb(250, 129, 129) 0%, rgb(255, 0, 0) 100%);
 color: white;
 border: none;
 border-radius: 8px;
 padding: 9px 25px;
 cursor: pointer;
}
.cat1{
    background-image: linear-gradient(to left,#f61b1b 0%, #f77279 100%);
    
}
.cat2{
    background-image: linear-gradient(to left,#916e57 0%, #c69b8b 100%);
}
.cat3{
    background-image: linear-gradient(to left,#494947 0%, #cee4e2 100%);
}
.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 10px;
    /* color: white;  */
}
.categoires h1{
    color: white;
    width: 500px;
}
.categoires img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px rgb(36, 91, 77);
}
.card img{
    height: 50%;
    width: 50%;
    align-self: center;
}